:root {
    --theme-color:#788A7C;

    --blue:rgb(5, 155, 255);
    --red:rgb(255, 5, 5);
    }
    .container{
        width: 100%;
        height: auto;
        justify-content: center;
display: flex;
flex-direction: column;
        text-align: center;
    }
    .subcontainer1 {
        width: 100%;
        border-style: solid;
        border-radius: 4px;
        
         display: flex;
         flex-direction: column;
        height: 160px

    }
    .expression{
        border: none;
        color:#3b3939;
        margin-bottom: 20px;
        margin-top: 10px;
        font-family: "Times New Roman", Times, serif;
        font-size: 35px;
       padding-left: 20px;

    }
    .results {
        text-align: end;
        border: none;
        color:#111111;
        font-size: 45px;
        font-weight:550;
        font-family: "Times New Roman", Times, serif;
        padding-right: 20px;
       
    }

.row{
    display: flex;
    flex-direction: row;
  justify-content: center;
  flex-shrink: 2;
}
.buttons{
padding:15px ;
    margin: 20px ;
    border: none;
    border-radius: 4px;
 background-color: var(--blue);
 color: white;
 font-size: 24px;
 text-align: center;
 font-family: "Times New Roman", Times, serif;
 width: 80px;
 flex-shrink: 2;

}


#bordercolor {
    background-color: white;
  color: var(--blue);
    border-style: solid;
}
#slice {
    background-color: white;
  color: var(--red);
    border-style: solid;

}
#AC_green {
    background-color: white;
  color: rgb(0, 185, 3);
    border-style: solid;
}

#answer {
    background-color: white;
  color: var(--blue);
    border-style: solid;
    border-radius: 10px;

}
