
body {
    background-color:#141A1E;
    background-image: url('bg.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
  }
   .container{
        width: 575px;
height: 715.755px;
flex-shrink: 0;
border-radius: 14.974px;
background: #1E2B33;
box-shadow: 0px 11.97917px 11.97917px 0px rgba(0, 0, 0, 0.25);
    }
    .subcontainer1 {
        margin-top: 20px;
        width: 542.057px;
        height: 150.719px;
        flex-shrink: 0;
        border-radius: 2.995px;
        background: #2D3B43;
        box-shadow: 0px 0px 17.96875px 5.98958px #354047 inset;
        display: inline-flex;
flex-direction: column;

    }
    .expression{
        border: none;
        background: #2D3B43;
        color:#ffffff;
        margin-bottom: 20px;
        margin-top: 20px;
            width: 100%;
            color: #FBFBFB;
            font-family: Inter;
            font-size: 30.6px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
       padding-left: 20px;

    }
    .results {
        text-align: end;
        width: 100%;
        border: none;
        background: #2D3B43;
        color:#ffffff;
        font-family: Inter;
            font-size: 45.6px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        padding-right: 20px;
       
    }

.row{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  
}
.buttons{
    width: 119.792px;
    height: 83.854px;
    flex-shrink: 0;
    border-radius: 5.99px;
    background: #1E2B33;
    color: #ffffff;
    border: none;
font-family: Inter;
font-size: 20.964px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin:10px;
}
.buttons:focus {
    outline: none;
  
    
}
.buttons:hover {
    background-color:#AA851B;;
  }

#operator{
    width: 119.792px;
    height: 83.854px;
    flex-shrink: 0;
    border-radius: 5.99px;
    background: #1E2B33;
    color: #AA851B;
    border: none;
font-family: Inter;
font-size: 20.964px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#operator:hover {
    background-color:#AA851B;
    color: #ffffff;

  }

#slice {
    width: 119.792px;
    height: 83.854px;
    flex-shrink: 0;
    border-radius: 5.99px;
    background: #1E2B33;
    color: #AA851B;
    border: none;
font-family: Inter;
font-size: 20.964px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

#slice:hover {
    background-color:#AA851B;;
    color: white;
  }
#AC_green {
    width: 119.792px;
    height: 83.854px;
    flex-shrink: 0;
    border-radius: 5.99px;
    background: #1E2B33;
    color: #AA851B;
    border: none;
font-family: Inter;
font-size: 20.964px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#AC_green:hover {
    background-color:#AA851B;;
    color: white;
  }
#answer {
    width: 119.792px;
    height: 83.854px;
    flex-shrink: 0;
    border-radius: 5.99px;
    background: #AA851B;
    color: #FFF;
font-family: Inter;
font-size: 32.943px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
